In [4]:
import sys
sys.path.insert(0, r"C:\Users\fdemb\Documents\Work\Projets\AI\MIT\Capstone Project\followup work\lib")

from deepspace.DataSpace import DataSpace
DataSpace()

In [5]:

from deepspace.IncrementalLearning import IncrementalLearner


#file=r'/content/used_cars.csv'
file=r'C:\Users\fdemb\Documents\Work\Projets\AI\MIT\Capstone Project\data\used_cars.csv'

#MyBaseClass.use_sep = False
transformers = [
    DataSpace(),
]

learner = IncrementalLearner()

ds = learner.prepare(transformers, file=file, sep=',', debug=False) # this loads the data and prepares it to further analysis and modeling

<deepspace.DataSpace.DataSpace object at 0x0000023C4BDBBBA8>

In [6]:
from deepspace.transformers.overview.Overview import Overview
transformers = [
    Overview(),
]
learner.learn(transformers)

<deepspace.transformers.overview.Overview.Overview object at 0x0000023C4BDBB9E8>

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   float64
 9   Engine             7207 non-null   float64
 10  Power              7078 non-null   float64
 11  Seats              7200 non-null   float64
 12  New_price          1006 non-null   float64
 13  Price              6019 non-null   float64
dtypes: float64(6), int64(3), object(5)
memory usage: 793.4+ KB


(7253, 14)

In [7]:
from deepspace.transformers.overview.Describe import Describe

transformers = [
    Describe(),
]
learner.learn(transformers)

<deepspace.transformers.overview.Describe.Describe object at 0x0000023C4BDBBAC8>

In [8]:
ds.data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7253 entries, 0 to 7252
Data columns (total 14 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   S.No.              7253 non-null   int64
 1   Name               7253 non-null   object
 2   Location           7253 non-null   object
 3   Year               7253 non-null   int64
 4   Kilometers_Driven  7253 non-null   int64
 5   Fuel_Type          7253 non-null   object
 6   Transmission       7253 non-null   object
 7   Owner_Type         7253 non-null   object
 8   Mileage            7251 non-null   float64
 9   Engine             7207 non-null   float64
 10  Power              7078 non-null   float64
 11  Seats              7200 non-null   float64
 12  New_price          1006 non-null   float64
 13  Price              6019 non-null   float64
dtypes: float64(6), int64(3), object(5)
memory usage: 793.4+ KB

In [9]:
from deepspace.transformers.null.Check import CheckNulls

transformers = [
    CheckNulls(),
]
learner.learn(transformers)

<deepspace.transformers.null.Check.CheckNulls object at 0x0000023C4BF30EF0>
S.No.                 0.000000
Name                  0.000000
Location              0.000000
Year                  0.000000
Kilometers_Driven     0.000000
Fuel_Type             0.000000
Transmission          0.000000
Owner_Type            0.000000
Mileage               0.027575
Engine                0.634220
Power                 2.412795
Seats                 0.730732
New_price            86.129877
Price                17.013650
dtype: float64

In [10]:
from deepspace.transformers.null.Process import ProcessImputation

transformers = [
    ProcessImputation(),
]
learner.learn(transformers)

<deepspace.transformers.null.Process.ProcessImputation object at 0x0000023C4BF30710>
================================================== transform
================================================== impute_nulls
S.No.                 0.000000
Name                  0.000000
Location              0.000000
Year                  0.000000
Kilometers_Driven     0.000000
Fuel_Type             0.000000
Transmission          0.000000
Owner_Type            0.000000
Mileage               0.027575
Engine                0.634220
Power                 2.412795
Seats                 0.730732
New_price            86.129877
Price                17.013650
dtype: float64
num cols to impute
['Mileage', 'Engine', 'Power', 'Seats', 'New_price', 'Price']
cat cols to impute
[]
df cols
Index(['S.No.', 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_price', 'Price'],
      dtype='object')
S.No.                0.0
Name                 0.0
Location             0.0
Year                 0.0
Kilometers_Driven    0.0
Fuel_Type            0.0
Transmission         0.0
Owner_Type           0.0
Mileage              0.0
Engine               0.0
Power                0.0
Seats                0.0
New_price            0.0
Price                0.0
dtype: float64

In [11]:
from deepspace.transformers.null.Process import ProcessImputation

transformers = [
    ProcessImputation(),
]
learner.learn(transformers)

<deepspace.transformers.null.Process.ProcessImputation object at 0x0000023C4BDBB6D8>
================================================== transform
================================================== impute_nulls
S.No.                0.0
Name                 0.0
Location             0.0
Year                 0.0
Kilometers_Driven    0.0
Fuel_Type            0.0
Transmission         0.0
Owner_Type           0.0
Mileage              0.0
Engine               0.0
Power                0.0
Seats                0.0
New_price            0.0
Price                0.0
dtype: float64
num cols to impute
[]
cat cols to impute
[]
df cols
Index(['S.No.', 'Name', 'Location', 'Year', 'Kilometers_Driven', 'Fuel_Type',
       'Transmission', 'Owner_Type', 'Mileage', 'Engine', 'Power', 'Seats',
       'New_price', 'Price'],
      dtype='object')
S.No.                0.0
Name                 0.0
Location             0.0
Year                 0.0
Kilometers_Driven    0.0
Fuel_Type            0.0
Transmission         0.0
Owner_Type           0.0
Mileage              0.0
Engine               0.0
Power                0.0
Seats                0.0
New_price            0.0
Price                0.0
dtype: float64

In [12]:
from deepspace.transformers.duplicates.CheckDuplicated import CheckDuplicated

transformers = [
    CheckDuplicated(),
]
learner.learn(transformers)

<deepspace.transformers.duplicates.CheckDuplicated.CheckDuplicated object at 0x0000023C4A716320>
================================================== check_dupes
Duplicates found : 0

In [14]:
from deepspace.transformers.outliers.Check import CheckOutliers

transformers = [
    CheckOutliers(),
]
ds = learner.learn(transformers)

<deepspace.transformers.outliers.Check.CheckOutliers object at 0x0000023C5C4D56A0>
Feature *Year*: found 58 lower_bound outliers
Feature *Kilometers_Driven*: found 258 upper_bound rows outliers
Feature *Mileage*: found 81 lower_bound outliers
Feature *Mileage*: found 18 upper_bound rows outliers
Feature *Engine*: found 65 upper_bound rows outliers
Feature *Power*: found 274 upper_bound rows outliers
Feature *Seats*: found 137 lower_bound outliers
Feature *Seats*: found 1068 upper_bound rows outliers
Feature *New_price*: found 721 lower_bound outliers
Feature *New_price*: found 285 upper_bound rows outliers
Feature *Price*: found 807 upper_bound rows outliers

In [17]:
from deepspace.transformers.outliers.Check import CheckOutliers
transformers = [
    Describe(include=[
            'Mileage',
            'Kilometers_Driven',
            'Engine',
            'Power',
            'Seats',
            'New_price',
            'Price']
        ),
]
ds = learner.learn(transformers)

<deepspace.transformers.overview.Describe.Describe object at 0x0000023C5C596C50>

In [19]:
from deepspace.transformers.overview.CheckUniqueness import CheckUniqueness

transformers = [
   CheckUniqueness(),
]
ds = learner.learn(transformers)

<deepspace.transformers.overview.CheckUniqueness.CheckUniqueness object at 0x0000023C5E419A90>
================================================== check_unique
================================================== view_uniqueness
================================================== get_uniqueness

In [39]:
import deepspace.transformers as Ts

from deepspace.transformers.column.categorical.Adjust import Adjust as CategoricalAdjuster

import deepspace.transformers as TT 
#TT.column.categorical.Adjust.Adjust
#from deepspace.transformers.column.numerical.Adjust import Adjust

transformers = [
    #Define our categorical columns
    #We avoid Name here as the number of values is too important
   TT.column.categorical.Adjust.Adjust
   ([
      #'Name',
      'Location',
      'Year',
      'Fuel_Type',
      'Transmission',
      'Seats', #not continuous, but ordinal data
      'Owner_Type']),
    #Define out numerical columns
    TT.column.numerical.Adjust.Adjust([
        'Kilometers_Driven',
        'Mileage',
        'Engine',
        'Power',
        'New_price',
        'Price',
    ])
]
ds = learner.learn(transformers)

<deepspace.transformers.column.categorical.Adjust.Adjust object at 0x0000023C5EAA4240>
<deepspace.transformers.column.numerical.Adjust.Adjust object at 0x0000023C5EAA42B0>